/*Reset CSS */
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
/*
1.Từ ngoài vòng trong
2.Từ trên xuống dưới
3.Tổng quan đến chi tiết
/*
1.Vị trí
2.Kích thước(width heigh)
3.Màu sắc
4.Kieerur dáng ( kiểu chữ hình tròn 
    
*/
.clear{
    clear:both;
}
.text-white{
    color: #fff !important;
}
.col-half{
    width: 50%;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-third{
    width: 33,33333%;
}
.col-full{
    width: 100%;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;

}




/* Main */
#main { 

}
#nav{
    display: inline-block;
}
#nav > li{
    display: block;
}
#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
#nav, .subnav{
    list-style-type: none;
}
}
#nav > li > a{
    color: #fff;
    text-transform: uppercase;

}
#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;

}
#nav li:hover .subnav{
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    
    color:black;
    background-color: #ccc;

}
#nav > li{
 display: inline-block;
}
 
#nav li{
    position: relative;
}
#nav .subnav{
    display: none;
    position: absolute;
    top: 100%;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
}
#nav.subnav a {
      color: #000;
      padding: 0 12px;
      line-height: 38px; 
}
#nav .nav-arrow-down{
    font-size: 14px;

}
#header .search-btn:hover{
    background-color: red;
}
#header .search-btn{
    float: right;
    cursor: pointer;

}
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
    padding: 0 21px;


}
#header .login-btn:hover{
    background-color: red;
}
#header .login-btn{
    float: right;
    cursor: pointer;

}
#header .login-btn{
    color: white;
    font-size: 20px ;
    line-height: 46px;
    padding: 0 21px;
}

#slider{
    position: relative;
   margin-top: 46px;
   padding-top: 50%;
   background: url(/assets/img/maydanang/maydanang.jpg) top center / cover no-repeat;
    }
#slider .text-content{
    position: absolute;
    bottom: 47px;
     color: #fff;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-style: italic;
}
#slider .text-heading{
}
#content{
 height: 800px; 
/* background-color: #ccc;  */
}
#content .content-section{
    width: 1500px;
    
    padding: 64px 0;
    margin-left: center;
    margin-right: center;
 
}
#content .section-heading{
       font-size: 30px;
       text-align: center;
       font-weight: 500px;
       letter-spacing: 4px;
}
#content .section-sub-heading{
    font-size: 15px;
text-align: center;
margin-top: 25px;
font-style: italic;
opacity: 0.6;
}
#content .about-text{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify !important;

    line-height: 1.4;
    text-align: center;
}
#content .members-list{
    margin-top: 48px;
}
#content .member-item{
    float: left;
    width: 25%;
    text-align: center;

}
#content .member-name{
    font-size: 15px;

}
#content .member-img{
    width: 200px;
    margin-top: 15px;
    border-radius: 4px;
}
/* *Lịch diễn */
#content .tour-section{
   background-color: #000;

}
.tickets-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    font-style: none;
}
.tickets-list .sold-out{
    background-color: red;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;

}
.tickets-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
}
.tickets-list{
    background-color: #fff;
    margin-top: 40px;
}
.places-list{
    margin-top: 32px;
    margin-right: -8px;
    margin-left: -8px;
    padding-bottom: 32px; 
    

}
.place-item{
    float:left;
    width: 24.5%;
    padding: 0 8px;
}
.place-img{
    width: 100%;
}
.place-img:hover{
    opacity: 0.6;
}
.place-body{
    background-color: #fff;
    display: block;
    padding: 16px;
    font-size: 15px;
}
.place-heading{
 font-size: 15px;
 font-weight: 600;
}
.place-time{
    margin-top: 15px;
    color: #757575;
}
.place-desc{
    margin-top: 15px;
    line-height: 1.4;

}
.place-buy-btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 18px;
}
.place-buy-btn:hover{
    color: #000;
    background-color: #ccc;
}
/* contact */
.contact{
    background: white;
    padding: 200px;
}
.contact-content{
    margin-top: 48px;

}
.contact-info{
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
   
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 10px;
    border: 1px soild #ccc;
    width: 100%;
}

.contact-form .from-submit-btn{
    background: #000;
    color: #fff;
    border: 1px soild #000;
    padding: 10px 16px ;
    float: right;
}
.map-section img{
   
}
.footer{
    padding: 64px 16px;
    text-align: center;
}
.footer .social-list{
    font-size: 24px;
}
.footer .social-list a{
    color: #757575;
    text-decoration: none;
}
footer .social-list a:hover {
    color: red;

}
.footer .copyright{
    margin-top: 15px;
}
.footer .copyright a {
    color: #757575;

}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal.open{
    display: flex;
}
.modal-container {
    min-height: 200px;
    background: #fff;
    width: 900px;
    position: relative;
    max-width: calc(100% - 32px);
    animation: modalFaceIn ease 0.3s;
  }
.modal-header {
    background: red;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #fff;
}
.modal-heading-icon{
    margin-right: 16px;
}
.modal-close:hover{
    opacity: 1;
}
.modal-close {
    opacity: 0.9;
    position: absolute;
    right: 0;
    top: 0;
    color: black;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}
.modal-body{
    padding: 16px;
}
.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}
    
#buy-tickets {
    background: red;
    color: #fff;
    border: none;
    width: 100%;
    text-transform: uppercase;
    font-size: 15px;
    padding: 18px;
    cursor: pointer;
}
#buy-tickets :hover {
    opacity: 0.9;
}
.modal-footer{
   padding: 16px;
   text-align: right;
}
.modal-footer a {
     color: blue;
 }
 @keyframes modalFaceIn {
    from{
        opacity: 0;
        transform: translateY(-100px);

    }
    to{
        opacity: 1;
        transform: translateY(0);

    }    
 }